<h1>Listing planners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Password digest</th>
    <th>Phone</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @planners.each do |planner| %>
  <tr>
    <td><%= planner.name %></td>
    <td><%= planner.email %></td>
    <td><%= planner.password_digest %></td>
    <td><%= planner.phone %></td>
    <td><%= planner.zip %></td>
    <td><%= link_to 'Show', planner %></td>
    <td><%= link_to 'Edit', edit_planner_path(planner) %></td>
    <td><%= link_to 'Destroy', planner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Planner', new_planner_path %>
