<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Loc1:</b>
  <%= @event.loc1 %>
</p>

<p>
  <b>Loc2:</b>
  <%= @event.loc2 %>
</p>

<p>
  <b>Loc3:</b>
  <%= @event.loc3 %>
</p>

<p>
  <b>Loc4:</b>
  <%= @event.loc4 %>
</p>

<p>
  <b>Time1:</b>
  <%= @event.time1 %>
</p>

<p>
  <b>Time2:</b>
  <%= @event.time2 %>
</p>

<p>
  <b>Time3:</b>
  <%= @event.time3 %>
</p>

<p>
  <b>Time4:</b>
  <%= @event.time4 %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
